### Core ###
*.swp
.env
django/ft_transcendence/core/static/core/css/test.css
django/ft_transcendence/core/templates/core/home.html
django/ft_transcendence/core/media/
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
django/ft_transcendence/staticfiles

### Commitzen ###
package.json
package-lock.json
node_modules
