### Core ###
*.swp
.env
django/ft_transcendence/core/static/core/css/test.css
django/ft_transcendence/core/templates/core/home.html

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
django/ft_transcendence/staticfiles
django/ft_transcendence/core/migrations
django/ft_transcendence/core/media
django/ft_transcendence/media/

### DB ###
django/ft_transcendence/chat/migrations/

### Commitzen ###
package.json
package-lock.json
node_modules
