/* Responsive Version - Max Height : 500px */

/* ---------- Title Page ---------- */
    .title {
        position: absolute;
        text-align: center;
        z-index: 1; /* Ensures the content is above the video */
        top: 1.5%; /* Title's position in the page (absolute position in a big container */
        margin-bottom: 20px;
    }
    
	/* Title's style */
	.title--move {
		color:white;
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-style: normal;
		font-size: 55px;
		position: relative;
		animation: moveToTop 2s ease forwards; /* 2s animation, only once */
	}

	/* Moves title to the top of the page */
	@keyframes moveToTop {
        0% {
            transform: translateY(180px); /* Initial position in the middle */
        }
        100% {
            transform: translateY(14px); /* Moves title to the top of the page */
        }
        }

/* ---------- Login Buttons ---------- */

    .container-buttons{ /* Child container of parent login page */
        position: absolute;
    }

    /* 42 Button - Top button */
	.login-buttons--top{
		display: flex;
		justify-content: center;
		margin-bottom: 30px; /* Margin to add some space between top and bottom buttons */
	}

    /* Three buttons design */
	.buttons-design {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		font-size: 5vh; /* Responsive buttons : button's size depends on the screen's size */
		text-align: center;
		color: white;
		border: 2px solid white;
		border-radius: 12px;
		padding: 10px 42px; 
		cursor: pointer;
		transition: .5s;
		background: #1A003E;
		animation: buttonsAppearance 3.2s ease forwards;
	}