{% load socialaccount %}
{% load static %}

{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/home.css' %}">
</head>
<body>
    <style>
        body {
            background-image: url("/static/core/images/bg-cyberpong.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 50%;
        }
    </style>
    <div class="container">
        <div class="welcome-message">
            <h1>Welcome, {{ user.username }}!</h1>
        </div>
        <div class="button">
          <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit">Log Out</button>
          </form>
        </div>
    </div>
</body>
</html>



{% else %}

<p>Click Here to log in:</p>

<a href="{% provider_login_url 'fortytwo' %}">Sign In</a>

{% endif %}
