{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
  <title>Transcendence</title>
</head>
  <body>
  <!---------- Global container for layout management ---------->
    <div class="login-page">

    <!---------- Background Video ---------->
      <video autoplay muted loop class="video-background">
        <source src="{% static 'core/images/galaxy-background.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>

    <!---------- Title ---------->
      <div class="title">
        <h1 class="title--move">CyberPong</h1>
      </div>

    <!-- Hidden signin form -->
      <form action="/" method="post" id="signin-form" class="hidden">
        {% csrf_token %}
        {{ signin_form }}
        <input type="submit" value="Submit">
      </form>

    <!-- Hidden signup form -->
      <form action="/" method="post" id="signup-form" class="hidden">
        {% csrf_token %}
        {{ signup_form }}
        <input type="submit" value="Submit">
      </form>

    <!---------- Login Buttons ---------->

    <!--- 42 Button - Top button --->
      <div class="login-buttons--top">
        <form action="{% provider_login_url 'fortytwo' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="buttons-group">
            Sign in with
          <img src="{% static 'core/images/42_Logo_gradient.png' %}" class="logo-42">
          </button>
        </form>
      </div>

    <!--- Login and Sign Up Button - Bottom Buttons --->
      <div class="login-buttons--bottom">
        <button class="buttons-group" id="signin-button">Login</button>
        <button class="buttons-group" id="signup-button">Sign Up </button>
      </div>

      <!-- Hide buttons on click -->
        <script>
          // Get all buttons with the "login-button" class
          const loginButtons = document.querySelectorAll('.buttons-group');

          // Loop through the buttons and add the same click event listener to each
          loginButtons.forEach(button => {
            button.addEventListener('click', function() {
              // Hide all login buttons
                loginButtons.forEach(btn => btn.classList.add('hidden'));
            });
          });
        </script>

      <!-- Show signin form -->
        <script>
          // JavaScript to handle the button click
          document.getElementById('signin-button').addEventListener('click', function() {
              // Show the login form
              document.getElementById('signin-form').classList.remove('hidden');
              document.getElementById('signup-form').classList.add('hidden');
          });
        </script>

      <!-- Show signup form -->
        <script>
          // JavaScript to handle the button click
          document.getElementById('signup-button').addEventListener('click', function() {
              // Show the login form
              document.getElementById('signup-form').classList.remove('hidden');
              document.getElementById('signin-form').classList.add('hidden');
          });
        </script>
      </div>
  </body>
</html>
