{% load socialaccount %}
{% load static %}
{% include 'core/sidenav.html' %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
		<link rel="stylesheet" href="{% static 'core/css/social.css' %}">
		<link rel="stylesheet" href="{% static 'core/css/notifications.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>

	<body>
		<!---------- Background Video ---------->
		<video autoplay muted loop class="video-background">
			<source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
			Your browser does not support the video tag.
		</video>

		<div class="notification_container">
			<div class="black-box">
				{% for notification in notifications %}
					{% if notification.friend_request.sender %}
						<div class="notification">
							<img	src="{{ notification.friend_request.sender.userprofile.avatar.url }}"
									alt="User Avatar"
									class="notif-user-avatar-img"/>
							<div class="notif-text">Request received from
								<a href="/profile/{{ notification.friend_request.sender }}">  {{notification.friend_request.sender}}</a>
								<button type="submit" class="buttons-design">
									<a href="{% url 'core:accept_friend_request' notification.friend_request.id %}"> Accept
									</a>
								</button>
								<button type="submit" class="buttons-design">
									<a href="{% url 'core:decline_friend_request' notification.friend_request.id %}"> Deny
									</a>
								</button>
							</div>
						</div>
					{% endif %}
				{% endfor %}
		</div>
	</body>
</html>
