{% load socialaccount %}
{% load static %}
{% include 'core/sidenav.html' %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'core/css/home.css' %}">
		<link rel="stylesheet" href="{% static 'core/css/social.css' %}">
		<link rel="stylesheet" href="{% static 'core/css/notifications.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
	</head>

	<body class="no-scroll">
		<script src="{% static 'core/js/social_utils.js' %}"></script>
		<!---------- Background Video ---------->
		<video autoplay muted loop class="video-background">
			<source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
			Your browser does not support the video tag.
		</video>

		{% if message_to_user %}
			<div id="message_to_user" class="exception hidden"> {{ message_to_user }} </div>
			<script>
				document.addEventListener('DOMContentLoaded', function() {
					showNotification("{{ message_to_user }}");
				});
			</script>
		{% endif %}


		<div class="notification_container">
			<div class="black-box">
				{% for notification in notifications %}
					{% if notification.friend_request.sender %}
						<div class="notification">
							<img	src="{{ notification.friend_request.sender.userprofile.avatar.url }}"
									alt="User Avatar"
									class="notif-user-avatar-img"/>
							<div class="notif-text">Request received from
								<a href="/profile/{{ notification.friend_request.sender }}"> {{notification.friend_request.sender}}</a>
								<button type="submit" class="buttons-design">
									<a href="{% url 'core:accept_friend_request' notification.friend_request.id %}">
										Accept
									</a>
								</button>
								<button type="submit" class="buttons-design">
									<a href="{% url 'core:decline_friend_request' notification.friend_request.id %}">
										Decline
									</a>
								</button>
							</div>
						</div>
					{% elif notification.message %}
						<div class="notification">
							<div class="notif-text">
								<img	src="{{ notification.message.author.userprofile.avatar.url }}"
										alt="User Avatar"
										class="notif-user-avatar-img"/>
								Message from
								{{ notification.message.author }} : {{ notification.message.message }}
							</div>
						</div>
						{% elif notification.game_invitation %}
						<div class="notification">
							<div class="notif-text">
								<img	src="{{ notification.game_invitation.invitation_sender.userprofile.avatar.url }}"
										alt="User Avatar"
										class="notif-user-avatar-img"/>
								Game Invitation from
								{{ notification.game_invitation.invitation_sender }}
								<button type="submit" class="buttons-design">
									<a href="{% url 'game:accept_game' notification.game_invitation.id %}"> Accept Invitation Game </a>
								</button>
								<button type="submit" class="buttons-design">
									<a href="{% url 'game:decline_game' notification.game_invitation.id %}"> Decline Invitation Game</a>
								</button>
							</div>
						</div>
					{% endif %}
				{% endfor %}
		</div>
	</body>
</html>
