{% load static %}
{% load socialaccount %}
{% include 'core/sidenav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/social.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Profile Page - {{ user.username }}</title>
</head>

<body>
    <!---------- Global container for layout management ---------->
    <div class="social-container">
        <!---------- Background Video ---------->
        <video autoplay muted loop class="video-background">
            <source src="{% static 'core/images/planet-background.mp4' %}" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <!---------- Social Buttons on top of the page ---------->
        <div class="social-bar">

            <!---------- All Friends Button ---------->
            <div class="social-bar--friends">
                <button type="submit" class="social-bar--buttons">
                    All Friends
                    <div class="friend-list hidden social-bar--buttons">
                        {% for friend in all_friends %}
                            <li> <a href="/profile/{{ friend.username }}"> {{ friend.username }} </a></li>
                        {% endfor %}
                    </div>
                </button>
            </div>

            <!---------- Pending Requests Button ---------->
            <div class="social-bar--pending-requests">
                <button type="submit" class="social-bar--buttons">
                    Pending
                    <div class="friend-list hidden social-bar--buttons">
                        {% for friend_request in all_friend_request %}
                            {% if user.id != friend_request.sender.id %}
                                <li>Accept friend request from <a href="/accept_friend_request/{{ friend_request.id }}">{{ friend_request.sender.username }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </div>
                </button>
            </div>
            
            <!---------- Blocked Users Button ---------->
            <div class="social-bar--blocked">
                <button type="submit" class="social-bar--buttons">
                    Blocked
                    <div class="friend-list hidden social-bar--buttons">
                        {% for block_user in blocked_users %}
                            <li>Unblock <a href="/unblock_user/{{ block_user.id }}">{{ block_user.username }}</a></li>
                        {% endfor %}
                    </div>
                </button>
            </div>

            <!---------- Search User Field ---------->
            <div class="social-bar--search-user">
                <div class="social-bar--search-field">
                    <form action="/social/" method="post" class="">
                        {% csrf_token %}
                        {{ search_form.as_p }}
                        <div class="social-bar--submit-button">
                            <input type="submit" value="Search" class="social-bar--buttons">
                        </div>
                    </form>

                    {% if not user_found %}
                        <p class="error-message">The user <strong>{{ searched_username }}</strong> could not be found.</p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

        <!-- Hide buttons on click -->
        <script>
            // Get all buttons with the "js-buttons" class
            const socialButtons = document.querySelectorAll('.social-bar--buttons');
    
            // Loop through the buttons and add the same click event listener to each
            socialButtons.forEach(button => {
                button.addEventListener('click', function() {
                // Hide all login buttons
                    console.log("remove button")
                    socialButtons.forEach(btn => btn.classList.remove('hidden'));
                    socialButtons.forEach(btn => btn.classList.add('social-bar--buttons'));
                });
            });
        </script>   


        <!-- <div class="search-user">
            <h1>Welcome, {{ user.username }}</h1>
            <form action="/social/" method="post" class="form-box">
                {% csrf_token %}
                {{ search_form.as_p }}
                <input type="submit" value="Search" class="submit-button">
            </form>

            {% if not user_found %}
                <p class="error-message">The user <strong>{{ searched_username }}</strong> could not be found.</p>
            {% endif %}
            
            <div class="section">
                <h2>Available Friend Requests</h2>
                <ul class="friend-list">
                    {% for friend_request in available_friend_request %}
                        <li>{{ friend_request.username }} <a href="/send_friend_request/{{ friend_request.id }}">Send Friend Request</a></li>
                    {% endfor %}
                </ul>
            </div> 

                        <div class="social-bar--remove-friends">
                            <button type="submit" class="social-bar--buttons">
                                Remove
                                <div class="friend-list hidden social-bar--buttons">
                                {% for friend in all_friends %}
                                    <li>Remove <a href="/remove_friend/{{ friend.id }}">{{ friend.username }}</a></li>
                                {% endfor %}
                                </div>
                            </button>
                        </div>
            -->

            <!-- <div class="section">
                <h2>All Users</h2>
                <ul class="friend-list">
                    {% for db_user in all_users %}
                        {% if not db_user.is_superuser and db_user != user %}
                            <li class="block-user">Block <a href="/block_user/{{ db_user.id }}">{{ db_user.username }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div> -->
</body>
</html>
