{% load static %}
{% load socialaccount %}
{% include 'core/sidenav.html' %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{% static 'core/css/login.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<title>Profile Page</title>
	</head>

	<body>
		<div class="background-image"></div>
		<div class="container">
			<div class="search">
				<h1> {{ user.username }} </h1>

				<form action="/social/" method="post" class="form-box">
					{% csrf_token %}
					{{ search_form.as_p }}
					<input type="submit" value="Search" class="btn-submit">
				</form>

				<!-- Display all friends -->
				<h1> All friends </h1>
				{% for friend in all_friends %}
					<h1> {{ friend.username }} </h1>
				{% endfor %}

				<!-- Waiting Friend Request -->
				{% for waiting_request in user.sender.all %}
					<h1> Request sent to {{ waiting_request.receiver.username }} </h1>
				{% endfor %}

				<!-- Send Friend Request -->
				<h1> Send friend request </h1>
				{% for friend_request in available_friend_request %}
					<h1> {{friend_request.username}} <a href="/send_friend_request/{{friend_request.id}}/"> send friend request  </a></h1>
				{% endfor %}
				</ul>

				<!-- Accept Friend Request-->
				{% for friend_request in all_friend_request %}
					<!-- If the user is not who sent the request -->
					{% if  user.id != friend_request.sender.id %}
					<h1> Accept friend request from <a href="/accept_friend_request/{{friend_request.id}}/"> {{ friend_request.sender.username }} </a></h1>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</body>
</html>
