
.my-profile--change-avatar-form{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Messages */
.valid-message {
	color: #4CAF50;
	font-weight: bold;
}

.error-message {
	color: #f44336;
	font-weight: bold;
}