
.my-profile--change-avatar-form{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Messages */
.valid-message {
	color: #4CAF50;
	font-weight: bold;
}

.error-message {
	color: #f44336;
	font-weight: bold;
}

.template-form {
	display: flex;
	gap:10%;
}

input[type="file"] {
	display: none;
}

.file-upload-wrapper {
	position: relative;
	display: inline-block;
}

.avataar {
	background-color: green;
	border: 1px solid #ccc;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	text-align: center;
	/* Ensure consistent size */
}
