    /* ---------- Profile Containers ---------- */
    .profile--info-container {
        position: relative;
        display: flex;
        justify-content: center;
        width: 65vw;
        height: 70vh;
        top: 15%;
        background: rgba(0, 0, 0, 0.21); /* semi-transparent background */
        border: 1px solid white;
        border-radius: 42px;
        overflow: hidden; /* Prevents shine effects from overflowing */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Smooth shadow for depth */
        animation: smoothAppearence 1.3s ease forwards, borderGlow 5s ease-in-out infinite;
    }

	/* ---------- Profile Stats ---------- */

	.profile--stats-global-container{
		position: absolute;
		display: flex;
		justify-content: center;
		text-align: center;
		top: 8%;
		right: 5%;
		border: 1px solid white;
		border-radius: 42px;
		background: #1A003E;
		padding: 15px 4px;
	}

    .profile--stats-content {
		color: white;
	}

	.profile--stats-title-container{
		display: flex;
		justify-content: center;
		margin-bottom: 2%;
		padding: 8px 25px; /* padding between text and border */
	}

	.profile--stats-title{
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-size: 1.2rem;
		white-space: nowrap;
	}

	.profile--stats{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		padding: 5%;
		white-space: nowrap;
		gap : 18%;
	}

	.stats-logos{
		width: 1.8em; /* Width relative to the size of the police */
		height: auto;
	}
