/* ---------- Global container for layout management ---------- */

	.social-container {
		position: relative; /* Parent container */
		display: flex;
		justify-content: center;
		height: 100vh; /* Container takes the full page */
		width: 100vw;
	}

/* ---------- Social Bar on top of the page ---------- */

	.social-bar{
		position: fixed;
		display: flex;
		justify-content: space-evenly;
		width: 90vw;
		top: 4%;
		left: 10%;
		gap: 1%;
		border-radius: 20%;
		border: 0px solid white;
	}

	/* ---------- Social Bar Buttons ---------- */

	.social-bar--buttons{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-size: 18px;
		gap: 17px; /* space between text and logos */
		color: white; /* text color */
		background: #1A003E; /* background color */
		border: 1px solid white;
		padding: 8px 30px; /* padding between text and border */
		border-radius: 12px;
		cursor: pointer; /* small hand logo will appear on the button when we'll be hover it */
		transition: 1s; /* smooth transition to buttons-design:hover */
		animation: smoothAppearence 0.8s ease forwards;
	}

	/* smooth animation when the curser is hover the button */
	.social-bar--buttons:hover {
		color: #1A003E; /* text color */
		background: linear-gradient(to right, #DC91C2, #EEC881); /* background color */
	}

	.social--logos{
		width: 1.5em; /* Width relative to the size of the police */
		height: auto;
	}

	/* on click animation : buttons will stay white depending on the section where you click */
	.buttons-active{
		color: #1A003E; /* text color */
		background: linear-gradient(to right, #DC91C2, #EEC881); /* background color */
		transition: .5s; 
	}

	.social--logo-clicked{
		width: 1.5em; /* Width relative to the size of the police */
		height: auto;
	}

	/* Search User Field Design */
	.social--search-username-field{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 18px;
		color: white; /* text color */
		background: #1A003E; /* background color */
		border: 2px solid white;
		padding: 8px 20px; /* padding between text and border */
		margin-top: 5px;
		border-radius: 20px;
		animation: smoothAppearence 0.8s ease forwards;
	}

	/* ---------- Info Container : displays either friends list, pending requests or blocked users ---------- */

	.social--info-container{
		position: relative;
		display: flex;
		justify-content: center;
		top : 10%;
		width: 80vw;
		height: 90vh;
	}

	/* ----- Animation to make Lists appear progressively ----- */
	.social--container-animation{
		display: flex;
		justify-content: center;
		top : 10%;
		width: 80vw;
		height: 90vh;
		animation: infocontainerAppearance 1.3s ease forwards;
	}

	/* Friends List will appear progressively */
	@keyframes infocontainerAppearance {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 100%;
		}
	}		

	/* ----- Titles under the buttons ----- */
	.social--title{
		position: fixed;
		text-align: center;
		z-index: 1; /* Ensures the content is above the video */
		top: 14%; /* Title's position in the page (absolute position in a big container */
	}

	.social--title-style{
		color:white;
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-style: normal;
   		font-size: 21px;
		animation: smoothAppearence 1.3s ease forwards;
	}

	/* Title will appear progressively */
	@keyframes smoothAppearence {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 100%;
		}
	}		

	/* ----- thin line under social bar ----- */
	.social-bar--line{
		position: fixed;
		display: flex;
		justify-content: center;
		top: 18%;
		height: 1px;
		background-color: white;
		border: none;
		animation: underlineAppearance 2.2s ease forwards; /* animations takes place only once, when we open the page. The underline will grow in 2.5 */
	}

	/* Underline will appear and grow progressively */
	@keyframes underlineAppearance {
		0% {
			width: 0%;
		}
		100% {
			width: 48%;
		}
	}	

	/* ----- Full Friend list Container ----- */
	.social--display-list{
		position: absolute;
		display: flex;
		justify-content: center;
		max-height: 75vh;
		width: 75vw;
		top: 15%;
		margin-bottom: 20px;
		overflow-y: auto; /* Add vertical scroll*/
		/* border: 1px solid white;
		border-radius: 20px; */
	}

	/* ----- Container for all users ----- */
	.social--all-users-profile{
		display: flex;
		justify-content: center;
		flex-wrap: wrap; /* Handle users on several lines. Flexbox will organize automaticaly elements on new lines when maximal width will be reached */
		list-style: none;
		padding: 0;
		margin: 0;
	}

	/* ----- Container for one user ----- */
	.social--each-user-profile-container{
		margin: 4%; /* space beetween elements */
		padding: 10px 24px; /* padding between text and border */
		background-color: #1A003E;
		border: 1px solid white;
		border-radius: 20px;
		text-align: center;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	/* Link to the user (click on the username) */
	.social--each-user-profile-container a {
		text-decoration: none;
		color: white;
		font-size: 18px;
	}

	/* ----- Avatar Container ----- */
	.social--user-profile-avatar{
		display: flex;
		justify-content: center;
		padding: 15px;
	}
	
	/* Avatar Image */
	.social--user-avatar-img{
		width: 5em; /* Width relative to the size of the police */
		height: auto;
		border-radius: 50px;
	}

	/* ----- Username + Link to Profile Page ----- */
	.social--user-profile-username{
		display: flex;
		justify-content: center;
		padding-bottom: 16px;
	}
	
	/* ----- Buttons Chat + Game Container ----- */
	.social--user-profile-buttons{
		display: flex;
		justify-content: center;
		margin: 8px;
		margin-bottom: 16px;
		gap: 15px;
	}

	/* Buttons Design */
	.social--user-profile-buttons-design{
		display: flex;
		justify-content: center;
		align-items: center;
		background: #1A003E; /* background color */
		border: 1px solid white;
		padding: 10px; /* padding between logo and border */
		border-radius: 50px;
		cursor: pointer;
		transition: .5;
	}

	.social--user-profile-buttons-design:hover {
		background: linear-gradient(to right, #DC91C2, #EEC881);
	}

	.social--buttons-section-logos{
		width: 1.3em; /* Width relative to the size of the police */
		height: auto;
	}

	/* ----- Unblock Button ----- */
	.social--user-profile-unblock-button-design{
		display: flex;
		justify-content: center;
		align-items: center;
		background: #1A003E;
		border: 1px solid white;
		padding: 8px 16px; /* padding between logo and border */
		border-radius: 50px;
		cursor: pointer;
		transition: .5;
	}

	.social--user-profile-unblock-button-design:hover{
		background: linear-gradient(to right, #DC91C2, #EEC881);
	}

	a.social--buttons-section-text{
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-size: 14px;
		color: white;
	}