/* ---------- Global container for layout management ---------- */

	.social-container {
		position: relative; /* Parent container */
		display: flex;
		justify-content: center;
		height: 100vh; /* Container takes the full page */
		width: 100vw;
	}

/* ---------- Social Bar on top of the page ---------- */

	.social-bar{
		position: fixed;
		display: flex;
		justify-content: center;
		width: 90vw;
		top: 4%;
		left: 10%;
		gap : 10%;
		border-radius: 20%;
		border: 0px solid white;
	}

	/* ---------- Social Bar Buttons ---------- */

	.social-bar--buttons{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-size: 18px;
		gap: 17px; /* space between text and logos */
		color: white; /* text color */
		background: #1A003E; /* background color */
		border: 1px solid white;
		padding: 8px 30px; /* padding between text and border */
		border-radius: 12px;
		cursor: pointer; /* small hand logo will appear on the button when we'll be hover it */
		transition: .5s; /* smooth transition to buttons-design:hover */
	}

	/* smooth animation when the curser is hover the button */
	.social-bar--buttons:hover {
		color: #1A003E; /* text color */
		background: linear-gradient(to right, #DC91C2, #EEC881); /* background color */
	}

	.social--logos{
		width: 1.5em; /* Width relative to the size of the police */
		height: auto;
	}

	/* on click animation : buttons will stay white depending on the section where you click */
	.buttons-active{
		color: #1A003E; /* text color */
		background: linear-gradient(to right, #DC91C2, #EEC881); /* background color */
		transition: .5s; 
	}

	.social--logo-clicked{
		width: 1.5em; /* Width relative to the size of the police */
		height: auto;
	}

	/* Search User Field Design */
	.social--search-username-field{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 18px;
		color: white; /* text color */
		background: #1A003E; /* background color */
		border: 2px solid white;
		padding: 8px 25px; /* padding between text and border */
		margin-top: 8px;
		border-radius: 12px;
	}

	/* ---------- Info Container : displays either friends list, pending requests or blocked users ---------- */

	.social--info-container{
		position: relative;
		display: flex;
		justify-content: center;
		top : 10%;
		width: 80vw;
		height: 90vh;
	}

	/* ----- Titles under the buttons ----- */
	.social--title{
		position: absolute;
		text-align: center;
		z-index: 1; /* Ensures the content is above the video */
		top: 2.5%; /* Title's position in the page (absolute position in a big container */
	}

	.social--title-style{
		color:white;
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-style: normal;
   		font-size: 20px;
		animation: titleAppearance 1.3s ease forwards;
	}

	/* Title will appear progressively */
	@keyframes titleAppearance {
		0% {
			opacity: 0%;
		}
		100% {
			opacity: 100%;
		}
	}		

	/* ----- thin line under social bar ----- */
	.social-bar--line{
		position: fixed;
		display: flex;
		justify-content: center;
		top: 17%;
		height: 1px;
		background-color: white;
		border: none;
		animation: underlineAppearance 2.2s ease forwards; /* animations takes place only once, when we open the page. The underline will grow in 2.5 */
	}

	/* Underline will appear and grow progressively */
	@keyframes underlineAppearance {
		0% {
			width: 0%;
		}
		100% {
			width: 48%;
		}
	}	

	.social--display-list{
		position: absolute;
		display: flex;
		justify-content: center;
		top: 18%;
	}

	.social--user-profile-link{
		display: flex;
		flex-wrap: wrap; /* Handle users on several lines. Flexbox will organize automaticaly elements on new lines when maximal width will be reached */
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.social--user-profile-container{
		margin: 10px;
		padding: 10px;
		border: 1px solid white;
		border-radius: 10px;
		text-align: center;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	}

	.social--user-profile-container a {
		text-decoration: none;
		color: white;
		font-weight: bold;
	}