	/* ---------- Profile Containers ---------- */
	.profile--info-container {
		position: relative;
		display: flex;
		justify-content: center;
		width: 65vw;
		height: 70vh;
		margin: 8%;
		background: rgba(0, 0, 0, 0.15); /* Fond semi-transparent */
		border: 1px solid white;
		border-radius: 42px;
		overflow: hidden; /* ForbiEmpêche les effets de brillance de déborder */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Smooth shadow for depth */
		animation: smoothAppearence 1.3s ease forwards, borderGlow 5s ease-in-out infinite;
	}

	/* ---------- Profile Stats ---------- */

	.profile--stats-global-container{
		position: absolute;
		display: flex;
		justify-content: center;
		text-align: center;
		top: 8%;
		right: 5%;
		border: 1px solid white;
		border-radius: 42px;
		background: #1A003E;
		padding: 15px 5px;
	}

	.profile--stats-content {
		color: white;
	}

	.profile--stats-title-container{
		display: flex;
		justify-content: center;
		margin-bottom: 2%;
		padding: 8px 30px; /* padding between text and border */
	}

	.profile--stats-title{
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-size: 20px;
		white-space: nowrap;
	}

	.profile--stats{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		padding: 6%;
		white-space: nowrap;
		gap : 18%;
	}

	.stats-logos{
		width: 2em; /* Width relative to the size of the police */
		height: auto;
	}

	/* ---------- Profile Main Container ---------- */

	.profile--main-info-container {
		position: absolute;
		align-items: center;
		text-align: center;
		top: 12%;
	}

	/* ---------- Profile + Username Container ---------- */

	.profile--avatar-username-container{
		margin-top: 15%;
		padding: 30px 42px;
		background: #1A003E;
		border: 1px solid white;
		border-radius: 30px;
	}

	/* Profile Avatar */

	.profile--user-avatar.user-avatar-img {
		width: 8em;
	}

	/* Profile Username */

	.profile--username {
		margin-top: 18%;
		font-family: 'Stacker', sans-serif; /* Google Font */
		color: white;
	}

	/* ---------- Buttons Container ---------- */

	.profile--buttons-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 25%;
		gap: 10px;
	}

	.profile--buttons.buttons-design{
		font-size: 20px;
		gap: 17px; /* space between text and logos */
		border-radius: 50px;
	}

	.profile--buttons.buttons-design a {
		color: inherit;
		text-decoration: none;
	}

	.profile--block-button-container{
		display: flex;
		justify-content: center;
	}



input[type="text"], input[type="file"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
}

.direct-message, .add-friend {
    flex: 1;                             /* Both containers will take equal width */
    display: flex;                       /* Use flexbox for internal alignment */
    justify-content: center;             /* Center the button or text */
}

.add-friend {
    text-align: center;                  /* Center aligns the text */
}
