	/* ---------- Profile Containers ---------- */
	.profile--info-container {
		position: relative;
		display: flex;
		justify-content: center;
		width: 65vw;
		height: 70vh;
		top: 15%;
		background: rgba(0, 0, 0, 0.21); /* semi-transparent background */
		border: 1px solid white;
		border-radius: 42px;
		overflow: hidden; /* 
		Prevents shine effects from overflowing */
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Smooth shadow for depth */
		animation: smoothAppearence 1.3s ease forwards, borderGlow 5s ease-in-out infinite;
	}

	/* ---------- Profile Stats ---------- */

	.profile--stats-global-container{
		position: absolute;
		display: flex;
		justify-content: center;
		text-align: center;
		top: 8%;
		right: 5%;
		border: 1px solid white;
		border-radius: 42px;
		background: #1A003E;
		padding: 15px 4px;
	}

	.profile--stats-content {
		color: white;
	}

	.profile--stats-title-container{
		display: flex;
		justify-content: center;
		margin-bottom: 2%;
		padding: 8px 25px; /* padding between text and border */
	}

	.profile--stats-title{
		font-family: 'Stacker', sans-serif; /* Google Font */
		font-size: 1.2rem;
		white-space: nowrap;
	}

	.profile--stats{
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		padding: 5%;
		white-space: nowrap;
		gap : 18%;
	}

	.stats-logos{
		width: 1.8em; /* Width relative to the size of the police */
		height: auto;
	}

	/* ---------- Profile Main Container ---------- */

	.profile--main-info-container {
		position: absolute;
		top: 10%;
		display: flex;
		flex-direction: column; /* Vertical layout (avatar above buttons) */
		justify-content: center;
		align-items: center;
		text-align: center; 
	}

	/* ---------- Profile + Username Container ---------- */

	.profile--avatar-username-container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 56%;
		padding: 18px 40px; /* internal space */
		background: #1A003E;
		border: 1px solid white;
		border-radius: 30px;
	}

	/* Profile Avatar */

	.profile--user-avatar.user-avatar-img {
		width: 8em;
		height: auto;
		object-fit: cover; /* avoid image distortion */
		margin-bottom: 15px; /* Space under avatar*/
	}

	/* Profile Username */

	.profile--username {
		text-align: center;
		margin-top: 5%;
		margin-bottom: 15%;
		font-size: 1.1em;
		font-family: 'Stacker', sans-serif;
		color: white;
		white-space: nowrap; /* Prevent text from breaking */
	}

	/* ---------- Buttons Container ---------- */

	.profile--buttons-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 21%;
		gap: 10%;
	}

	.profile--buttons.buttons-design{
		gap: 17px; /* space between text and logos */
		border-radius: 50px;
	}

	.profile--buttons.buttons-design a {
		color: inherit;
		text-decoration: none;
	}

	.profile--block-button-container{
		display: flex;
		justify-content: center;
		margin-top: 12%;
	}


input[type="text"], input[type="file"], input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
}