* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(
            to top, #ffda77, #ffa45b);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    position: relative;
    height: 85vh;
    width: 80vw;
    background: rgba(0, 0, 0, 0.42); /* semi-transparent background */
    border: 1px solid white;
    border-radius: 42px;
    overflow: hidden; /* Prevents shine effects from overflowing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Smooth shadow for depth */
    animation: smoothAppearence 1.3s ease forwards, borderGlow 5s ease-in-out infinite;
}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
}

.ball_effect {
    height: 100%;
    width: 100%;
    border-radius: 100px;
    animation: spinBall 1s linear infinite;
    box-shadow: inset 0 0 18px #fff,
        inset 6px 0 18px #DC91C2,
        inset -6px 0 18px #EEC881,
        inset 6px 0 30px #DC91C2,
        inset -6px 0 30px #EEC881,
        0 0 18px #fff, -4px 0 18px
        #DC91C2, 4px 0 18px #EEC881;
}

@keyframes spinBall {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.paddle {
    height: 200px;
    width: 18px;
    border-radius: 20px;
    position: fixed;
}

.paddle_1 {
    top: calc(7.5vh + 55px);
    left: calc(10vw + 50px);
    box-shadow: inset 0 0 18px #fff,
        inset -6px 0 18px #EEC881,
        inset 6px 0 18px #DC91C2,
        inset -6px 0 30px #EEC881,
        inset 6px 0 30px #DC91C2,
        0 0 18px #fff, 4px 0 18px
        #EEC881, -4px 0 18px #DC91C2;
}

.paddle_2 {
    top: calc(85vh + 7.5vh - 230px);
    right: calc(10vw + 50px);
    box-shadow: inset 0 0 18px #fff,
        inset 6px 0 18px #DC91C2,
        inset -6px 0 18px #EEC881,
        inset 6px 0 30px #DC91C2,
        inset -6px 0 30px #EEC881,
        0 0 18px #fff, -4px 0 18px
        #DC91C2, 4px 0 18px #EEC881;
}

.player_1_username {
	position: fixed;
	font-family: 'Stacker', sans-serif; /* Google Font */
    color: white;
    font-size: 2vw;
    left: 18%;
    margin-top: 30px;
}

.player_2_username {
    position: fixed;
	font-family: 'Stacker', sans-serif; /* Google Font */
    color: white;
    font-size: 2vw;
    right: 18%;
    margin-top: 30px;
}


.player_1_score {
    height: 50px;
    width: 50px;
    color: #DC91C2;
    position: fixed;
    left: 35vw;
    margin-top: 42px;
    font-family: 'Stacker', sans-serif; /* Police pour cohérence */
    font-size: 3vw;
}

.player_2_score {
    height: 50px;
    width: 50px;
    color: #EEC881;
    position: fixed;
    left: 62vw;
    margin-top: 42px;
    font-family: 'Stacker', sans-serif; /* Police pour cohérence */
    font-size: 3vw;
}

.message {
    position: absolute; /* Permet de positionner l'élément par rapport à son parent */
    top: 40%; /* Position verticale au centre */
    left: 50%; /* Position horizontale au centre */
    transform: translate(-50%, -50%); /* Centrer parfaitement l'élément */
    white-space: nowrap; /* Empêche le texte de se briser sur plusieurs lignes */
    width: max-content; /* Ajuste automatiquement la largeur à la longueur du texte */
}

.message-info-style {
    color: #c9cbff; /* Couleur du texte */
    font-size: 2.5vw; /* Ajuste la taille du texte */
    text-align: center; /* Centre le texte horizontalement */
    font-family: 'Stacker', sans-serif; /* Police pour cohérence */
}

.message-ball-speed-style {
    font-family: 'Stacker', sans-serif; /* Police pour cohérence */
    color: red; /* Couleur du texte */
    font-size: 2.5vw; /* Ajuste la taille du texte */
    text-align: center; /* Centre le texte horizontalement */
    font-family: 'Arial', sans-serif; /* Police pour cohérence */
}
